:root {
    --orange-color: #DD7608;
    --dark-color: #161616;
    --black-color: #000000;
    --dark-grey-color: #393939;
    --light-grey-color: #8D8D8D;
    --light-blue-color: #D0E2FF;
    --red-color: #DA1E28;
    --dark-red-color: #750E13;
    --white-color: #FFFFFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1{
    font-family: Roboto Mono;
}

body {
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    max-width: 160rem;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Roboto Mono", sans-serif;
    background-color: var(--black-color);
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: .0625rem solid #FFF;
}

nav .logo {
    font-family: Roboto Mono;
    font-size: 1.875rem;
    font-weight: 700;
    display: flex;
    align-items: center !important;
    background: linear-gradient(180deg, #FF7B1C 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .profile {
    font-family: Roboto Mono;
    font-size: .9375rem;
    font-weight: 700;
    display: flex;
    align-items: center !important;
    color:#FFF;
    gap: 1.25rem;
    list-style: none;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
}

nav ul li a {
    color: #FFF;
    text-align: center;
    font-family: Roboto Mono;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: solid #FFF;
    border-radius: .3125rem;
    padding: .125rem .3125rem;
    text-decoration: none;
}

.border {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 18.0625rem;
    color: #fff;
    background-image: url(Images/Group 81.svg);
    background-size: 100%;
}

.align-text {
    display: flex;
    flex-direction: column;
}

.p-align-text{
    margin-top: -1.25rem;
}

.wrapper {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.information {
    display: flex;
    width: 42rem;
    margin-left: auto;
    margin-right: auto;
    border: .0625rem solid #FFF;
    border-radius: 3.125rem;
    border-spacing: 1.25rem;
    padding: 1rem;
    margin-top: -3.75rem;
    background-color: #000000;
}

.location {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 0.875rem;
    border-right: solid .0625rem #FFF;
    padding-right: .625rem;
    padding-left: .625rem;
}

.date {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 0.875rem;
    border-right: solid .0625rem #FFF;
    padding-right: .9375rem;
    padding-left: .9375rem;
    justify-content: center;
}

.time {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 0.875rem;
    border-right: solid .0625rem #FFF;
    padding-right: .9375rem;
    padding-left: .9375rem;
    justify-content: center;
}

.ticket {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 0.875rem;
    border-right: solid .0625rem #FFF;
    padding-right: .9375rem;
    padding-left: .9375rem;
    justify-content: center;
}

.inf-desc{
    margin-top: -1rem;
}

.vector{
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-color: var(--orange-color);
    padding : auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres{
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 2rem
}

.genres2{
    display: flex;
    gap: 4.2rem;
    margin-top: -1.125rem;
}

.top-genre{
    gap: 4.2rem;
    display: flex;
}

.bottom-genre{
    gap: 4.2rem;
    display: flex;
}
.img-genre2{
    width: 20rem;
}

.popular2{
    display: flex;
    color: #FFF;
    gap: .75rem;
    font-family: Roboto Mono;
    font-weight: 400;
    margin-top: -1.125rem;
    margin-left: -0.5rem;
}

.top{
    display: flex;
    gap: .75rem;
}

.bottom{
    display: flex;
    gap: .75rem;
}

.img-popular2{
    width: 12rem ;
}

.Name{
    color: #FFF;
    font-family: Roboto Mono;
    height: 1.925rem; 
    font-size: small;
}

.desc {
    margin-top: -4.4125rem;
    margin-left: 1.25rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: xx-small;
    height: 1rem;
}

.mytickets2{
    display: flex;
    color: #FFF;
    gap: 1.75rem;
    font-family: Roboto Mono;
    font-weight: 400;
    margin-top: -1.125rem;
    margin-left: -0.5rem;
}

.img-mytickets{
    width: 12rem ;
}

.named {
    display: flex;
    gap: 1.75rem;
    color: #FFF;
    text-align: center;
    font-size: large;
    margin-left: -.5rem;
}

.placed {
    margin-left: -.5rem;
    margin-top: -.875rem;
}


.timed {
    margin-left: -.5rem;
    margin-top: -.25rem;
}

.clocked {
    margin-left: -.5rem;
    margin-top: -1.25rem;
}

.memberinv {
    display: flex;
    gap :.9375rem;
    color: #FFF;
    font-family: Roboto Mono;
    font-weight: 400;
    margin-top: 9.75rem;
}

.img-member{
    width: 28rem ;
}

.subscription {
    display: flex;
    gap: 1.7313rem;
    margin-top: -3rem;
    text-align: left;
    
}

.text {
    margin-left: .75rem;
    width: 20.2692rem;
    height: 2.75rem;
    flex-shrink: 0;
    font-size: smaller;
    margin-top: -0.625rem;
}

.join {
    color: var(--black-color);
    margin-left: .25rem;
    margin-top: -.25rem;
}

.left {
    display: flex;
    gap: 1.875rem;
    color: var(--white-color);
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem; /* 220% */
    letter-spacing: .0125rem;
    margin-top: 2.1875rem;
}

.middle {
    font-family: Roboto Mono;
    font-size: .3125rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    background: linear-gradient(180deg, #FF7B1C 0%, #FFF 200%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1.875rem;
    align-items: center;
    justify-content: center;
    margin-left: 31.5rem;
}

.right {
    margin-left: 31.5rem;
    margin-top: 2.1875rem;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: .5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem; /* 275% */
    letter-spacing: .0125rem;
}

footer{
    margin-top: 1.875rem;
    display: flex;
    border-top: .0625rem solid #FFF;
}

button{
    border: none;
    background-color: #000000;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: .5rem;
}

.mc:active{
    transform: scale(1, 0.9);
    transition: transform 0.2s color 0.2s;
}

@media (min-width: 50.0625rem) and (max-width: 70rem) {  

    .wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    nav .logo {
        font-size: 1.75rem;
        font-weight: 700;
        display: flex;
        align-items: center !important;
        background: linear-gradient(180deg, #FF7B1C 0%, #FFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    
    nav .profile {
        font-family: Roboto Mono;
        font-size: .375rem;
        font-weight: 700;
        display: flex;
        align-items: center !important;
        color:#FFF;
        gap: .3125rem;
        list-style: none;
        text-decoration: none;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        gap: 1.3125rem;
        list-style: none;
    }
    
    nav ul li a {
        color: #FFF;
        text-align: center;
        font-family: Roboto Mono;
        font-size: .875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: solid #FFF;
        border-radius: .3125rem;
        padding: .125rem .3125rem;
        text-decoration: none;
    }
    .border{
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 12.0625rem;
        color: #fff;
        background-image: url(Images/Group 81.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .align-text{
        margin-top: -2.3rem;
        font-size: small;
    }

    .p-align-text{
        margin-top: -1.25rem;
    }

    .information {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-spacing: 1.25rem;
        padding: 1.25rem 1.25rem;
        margin-top: -2.75rem;
    }
    
    .location {
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: 0.475rem;
        border-right: solid .0625rem #FFF;
        padding-right: .625rem;
        padding-left: .625rem;
    }
    
    .date {
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: 0.475rem;
        border-right: solid .0625rem #FFF;
        padding-right: .9375rem;
        padding-left: .9375rem;
        justify-content: center;
    }
    
    .time {
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: 0.475rem;
        border-right: solid .0625rem #FFF;
        padding-right: .9375rem;
        padding-left: .9375rem;
        justify-content: center;
    }
    
    .ticket {
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: 0.475rem;
        border-right: solid .0625rem #FFF;
        padding-right: .9375rem;
        padding-left: .9375rem;
        justify-content: center;
    }

    body{
        align-items: flex-end;
    }

    .genres{
        font-size: 1.25rem;
    }
    
    .genres2{
        gap: 1.25rem;
        font-size: 1.25rem;
    }

    .img-genre2{
        width: 13rem;
    }

    .top-genre{
        gap: 1.25rem;
        display: flex;
    }
    
    .bottom-genre{
        gap: 1.25rem;
        display: flex;
    }

    .popular2{
        display: flex;
        flex-direction: column;
    }
    
    .img-popular2{
        width: 12rem;
    }

    .Name{
        color: #FFF;
        font-family: Roboto Mono;
        height: 1.825rem; 
        font-size: small;
        margin-top: 1rem;
    }
    
    .desc {
        margin-top: -4.4125rem;
        margin-left: .95rem;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-size: xx-small;
        height: 0.5rem;
    }

    .mytickets2{
        margin-left: -.45rem;
    }

    .img-mytickets{
        width: 12rem;
    }

    .named{
        margin-top: 1.5rem;
        font-size: small;
    }

    .placed{
        font-size: xx-small;
    }
    .timed{
        margin-top: -0.25rem;
        font-size: xx-small;    
    }

    .clocked{
        margin-top: -1rem;
        font-size: xx-small;
    }

    .left {
        display: flex;
        gap: 1rem;
        color: var(--white-color);;
        font-family: Roboto Mono;
        font-size: .625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem; /* 220% */
        letter-spacing: .0125rem;
        margin-top: 2.1875rem;    
    }
    
    .middle {
        font-family: Roboto Mono;
        font-size: .3125rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        background: linear-gradient(180deg, #FF7B1C 0%, #FFF 200%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -1.875rem;
        align-items: center;
        justify-content: center;
        margin-left: 13rem;
    }
    
    .right {
        margin-left: 13rem;
        margin-top: 2.1875rem;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: .5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem; /* 275% */
        letter-spacing: .0125rem;
    }
    
}

@media (max-width: 50rem){
    
    h3 {
        font-size: smaller;
    }

    body{
        max-width: 26.25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        max-width: 26.25rem;
        margin-left: auto;
        margin-right: auto;
    }

    nav .logo {
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        align-items: center !important;
        background: linear-gradient(180deg, #FF7B1C 0%, #FFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    nav .profile{
        gap: .00003125rem;
    }

    .img-profile{
        width: 2rem;
    }
    
    nav ul {
        display: none;
    }

    .h1-align-text{
        margin-top: -2.5rem;
        font-size: 1rem;
    }
    .p-align-text{
        margin-top: -0.5rem;
        font-size: .5rem;
    }
    .border {
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 8.0625rem;
        color: #fff;
        background-image: url(Images/Group 81.svg);
        background-size: auto 8em;
        background-repeat: no-repeat;
    }

    .information {
        margin-left: auto;
        margin-right: auto;
        width: 22rem;
        margin-top: -2.3rem;
        padding: .625rem .625rem;
    }

    .img-vector{
        width: 1rem;
    }

    .vector{
        background-size: auto;
    }

    .inf-desc{
        display: none;
    }

    .genres{
        font-size: 1.25rem;
    }
    
    .genres2{
        gap: .75rem;
        font-size: 1.25rem;
    }

    .top-genre{
        gap: .75rem;
        display: flex;
        flex-direction: column;
    }
    
    .bottom-genre{
        gap: .75rem;
        display: flex;
        flex-direction: column;
    }
    
    .img-genre2{
        width: 11rem;
    }

    .popular2{
        display: flex;
    }

    .img-popular2{
        width: 11rem;
    }

    .top{
        margin-left: -.5rem;
        display: flex;
        flex-direction: column;
    }
    .bottom{
        margin-left: -.875rem;
        display: flex;
        flex-direction: column;
    }

    .desc{
        font-size: x-small;
        margin-left: .875rem;
    }
    .Name{
        font-size: xx-small;
        margin-top: 0.5rem;
    }

    .mytickets2{
        margin-left: -0.75rem;
    }
    .img-mytickets{
        width: 11rem;
    }

    .memberinv {
        display: flex;
        gap :.9375rem;
        color: #FFF;
        font-family: Roboto Mono;
        font-weight: 400;
    }
    
    .img-member{
        width: 24rem ;
    }
    
    .subscription {
        display: flex;
        gap: 1.7313rem;
        margin-top: -3rem;
        text-align: left; 
    }
    
    .text {
        margin-left: .75rem;
        width: 20.2692rem;
        height: 2.75rem;
        flex-shrink: 0;
        font-size: smaller;
        margin-top: -0.525rem;
    }
    
    .join {
        color: var(--black-color);
        margin-left: -3rem;
        margin-top: -.15rem;
    }

    .btn-left{
        font-size: xx-small;
    }

    .img-social{
        width: 1rem;
        font-size: xx-small;
    }

    .p-right{
        font-size: 0.3rem;
    }
    .left {
        display: flex;
        gap: 1rem;
        color: var(--white-color);;
        font-family: Roboto Mono;
        font-size: .625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem; /* 220% */
        letter-spacing: .0125rem;
        margin-top: 2.1875rem;
        
    }
    
    .middle {
        font-family: Roboto Mono;
        font-size: .3125rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        background: linear-gradient(180deg, #FF7B1C 0%, #FFF 200%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -1.875rem;
        align-items: center;
        justify-content: center;
        margin-left: 0.8rem;
    }
    
    .right {
        display: flex;
        margin-left: .8rem;
        margin-top: 2.1875rem;
        color: #FFF;
        font-family: Roboto Mono;
        font-size: .5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem; /* 275% */
        letter-spacing: .0125rem;
    }
}
